img {
    height: min-content;
    width: min-content;
    pointer-events: none;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    img {
        animation: App-logo-spin infinite 1s linear;
    }
}